.single-player{
    display: flex;
    border-bottom: 1px solid aqua;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
}
.single-player img{
    height: 300px;
    width: 300px;
    margin-right: 20px;
}
.single-player h3{
    color: blue;
    font-weight: 400;
}